/* http://meyerweb.com/eric/tools/css/reset/ 
            v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;list-style-position:outside;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing:0;}

html {
    font: 10pt 'Cobin', sans-serif; 
	background: #1B3B3A url(img/nav.jpg) left 250px repeat-x;
	
}

body {
	background: url(img/back1.png) center 300px no-repeat transparent;
	height: 1000px;
}

#container {
	width: 930px; 
    margin: auto; 
}
header {
    background: url(img/header.png) right center no-repeat;
    height: 252px;
	overflow: hidden;
}
header .logo {
	display: block;
	position: relative; top:48px; padding-left:20px;
}
header .logo img {
	display: block;
}
 nav {
    position: absolute; top:250px;
	margin: auto;
	height: 50px;
	width:910px;
} 

nav ul { 
    padding: 14px 0 0 5px;
    float:left;
	font: bold 14pt 'Cobin', sans-serif;
}
nav li {
	padding:0 12px 0 12px;
	
    display:inline;
	border-right:2px solid black;
}
nav A { 
	text-decoration: none; 
	color: black;
} 

nav .cart {
	background: url(img/button.jpg) right 0px no-repeat;
	width: 248px;
	height: 50px;
	cursor: pointer;
	float:right;
	display: block;
	text-align: right;padding: 16px 65px 0;
	font: 12pt 'Cobin', sans-serif; color: white;
}
.total {
	margin: 12px; color: #FFD64C;
}


article {
	position: absolute; 
	margin-left: 220px;
	height: 462px;
	width: 621px;
	border-radius: 15px;
	margin-top:60px;
	background: url(img/article2.png) 0 0 repeat;
	padding:15px 40px 13px 19px;
}
article h1 {color:#FFD64C;font-family:'Cobin', sans-serif;font-size:22px;margin-bottom:7px;}
article {}
article .top {background:url(img/boom.png) no-repeat;position: absolute; top:136px;right:15px;width:20px;height:23px;display:block;}
article .bottom {background:url(img/boom2.png) no-repeat;position:absolute; bottom:114px;right:15px;width:20px;height:23px;display:block;}
.viewas {color:#FFD64C;font-family:'Cobin', sans-serif;font-size:18px;top:270px;float: right;margin-right:15px;}
.viewas .as {position: relative;top: 3px;}
aside {
	width: 200px; 
	border-radius: 15px;
	margin-top:60px;
	background: url(img/article2.png) 0 0 repeat;
	padding-bottom:15px;
	padding-top:6px;
}

aside h3 {
   color:#ffd64c;
   font-family:'Cobin', sans-serif; 
   font-size:20px;
   margin-left:18px;
   margin-top:5px;
   margin-bottom:5px;
 }
 aside form {
    margin-top:10px;
	
}

aside form ol {
    width:100%;
}

aside form ol li {
    margin-bottom:12px;
}
aside ul li {
	padding-top:6px;
	padding-right:6px;
	margin-left:18px;
}
aside ul li a{
	font-family:'Cobin', sans-serif; 
    font-size:16px;
	color:white;
	text-decoration: none;
	padding-top:6px;
}

.more {
	
	padding:10px 0 0 16px;
	
}
.more a {
	font-family:'Cobin', sans-serif; 
    font-size:14px;
	color:#ffd64c;
	text-decoration: none;
}

.search input {
	background-color:#214b4a;
	font-family:'Cobin', sans-serif; 
    font-size:16px;
	width:135px;
    height:32px;
    padding:0 18px;
    border:none;
	border-radius:1px;
	margin-left:15px;
	
}
aside form ol input {
    background-color:#214b4a;
    color:#fff;
    font-family:'Cobin', sans-serif; 
    font-size:16px;
    width:135px;
    height:32px;
    padding:0 20px;
    border:none;
    border-radius:1px;
	margin-left:12px;
	margin-top:5px;
}
aside .name {
	color:white;
	font-family:'Cobin', sans-serif; 
	font-size:15px;
	padding:16px 0 0 16px;
}
aside form .btn input{
    background:url(img/p.btn-input.gif) no-repeat;
    font-size:20px;
    width:78px;
    height:32px;
    margin:1px 0 0 15px;
    border:none;
    cursor:pointer;
}
aside form .btn a{
    background-image:url(img/p.btn-a.gif);
	background-repeat: no-repeat;
    font-size:20px;
	line-height: 32px;
	float: right;
    color:white;
	text-decoration: none;
	width:85px;
    height:35px;
	text-align: center;
    margin-right:11px;
    /*border:1px solid #214b4a;*/
    cursor:pointer;
}

.side {
	padding: 10px 10px 0;
}

.photo {
    
    width: 150px; /* Ширина */
    margin: 0 10px 10px 0; /* Отступы */
    padding: 10px 0; /* Поля сверху и снизу */
    text-align: center; /* Выравнивание по центру */
    display: inline-block; /* Строчно-блочный элемент */
	background: #d9dabb;
	
}
   .photo img {
    border: 2px solid #8b8e4b; /* Параметры рамки */
}

.gallery {}
.gallery li{margin-right:11px;margin-bottom:10px;float:left;}
.gallery li a img{border:2px solid #000;}